*{
  box-sizing: border-box;
}

body{
  margin: 0px;
  padding: 0px;
}

nav{
position: absolute;
width: 100%;
height: 80px;
left: 0px;
top: 0px;
background: #F55A5A;
text-align: center;
color: white;
}